@import 'react-toastify/dist/ReactToastify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Kode Mono', monospace !important;
    @apply font-base bg-background text-teal-50;
  }

  h1,
  .heading-1 {
    @apply text-3xl font-bold leading-6;
  }

  h2,
  .heading-2 {
    @apply text-2xl font-semibold leading-6;
  }

  h3,
  .heading-3 {
    @apply text-sm font-medium leading-6;
  }

  p,
  .paragraph {
    @apply text-sm font-normal;
  }

  .bg-gradient {
    background: hsla(248, 68%, 59%, 1);
    background: linear-gradient(90deg, hsla(248, 68%, 59%, 1) 0%, hsla(279, 71%, 61%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(248, 68%, 59%, 1) 0%, hsla(279, 71%, 61%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(248, 68%, 59%, 1) 0%, hsla(279, 71%, 61%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#614fde", endColorstr="#b053e2", GradientType=1 );
  }
}

@layer components {
  .toast-container {
    @apply min-w-content whitespace-nowrap;
  }

  .toast-container .Toastify__progress-bar--success {
    @apply bg-teal-400;
  }

  .toast-container .Toastify__toast--success svg path {
    @apply fill-teal-400;
  }

  .toast-container {
    @apply min-w-content whitespace-nowrap;
  }

  .toast-container .Toastify__progress-bar--success {
    @apply bg-teal-400;
  }

  .toast-container .Toastify__toast--success svg path {
    @apply fill-teal-400;
  }

  /* Disable input arrows for Chrome, Safari, etc. */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable input arrows for Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
